@import'./mixins';

.projectHeader {
    background-color: black;
    h1 {
        @include custom-image(url('/img/grid.png'), 100%, center, repeat, auto, auto);
        margin: 0;
        font-size: 2em;
        color: white;
        text-shadow: 0px 0px 10px black;
        text-align: center;
        font-family: $main-font-family;
    }
    p {
        margin: 0;
        color: white;
        font-family: $p-font-family;
        text-indent: 30px;
        padding: 1em;
        line-height: 1em;
        width: 90%;
        margin: auto;
    }
}

.projectPage {
    @include custom-image(url('/img/rust2.jpg'), 100%, center, repeat, auto, auto);
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 65vh;
    border-bottom: 5px solid black;
    .projectScroller {
        margin: auto;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
        @media (min-width: 425px) {
            width: 400px;
            height: 400px;
        }
        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }
        .slide img {
            height: 100%;
            width: 100%;
        }
        .current {
            opacity: 100%;
        }
    }
    
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 250px;
        margin: auto;
        top: -3em;
        margin-bottom: -2em;
        button {
            background-color: black;
            border: none;
            color: white;
            width: min-content;
            height: min-content;
            opacity: 40%;
            border-radius: 50px;
            font-size: 1.5em;
            margin: .5em;
        }
        button:hover {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        #dots {
            display: flex;
            width: 50%;
            height: min-content;
            justify-content: space-evenly;
            .dot {
                width: 5px;
                height: 5px;
                background-color: white;
                opacity: 40%;
            }
            .currentDot {
                opacity: 80%;
            }
        }
    }
    
    #wjcVideo {
        
        margin: auto;
        width: 250px;
        height: 250px;
        @media (min-width: 650px) {
            width: 500px;
            height: 500px;
        }
    }

    .instagram-media {
        margin: auto!important;
        max-width: 500px!important;
        @media screen {
            margin-top: 1.5em!important;
        }
    }
}

#projectCards {
    padding-top: 1em;
    @include custom-image(url('/img/rust2.jpg'), 100%, center, repeat, auto, auto);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding-bottom: 1em;
    border-bottom: 5px solid black;
    h1 {
    margin: 0;
    margin-bottom: .5em;
    font-size: 2em;
    color: white;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    font-family: $main-font-family;
    flex: 100%;
    }
    h2 {
    margin: 0;
    font-size: 1.25em;
    color: white;
    font-size: 2em;
    font-family: $accent-font-family;
    font-weight: 500;
    font-style: italic;
    }
    p {
    font-family: $p-font-family;
    margin: 0;
    color: white;
    width: 100%;
    text-align: center;
    background-color: black;
    line-height: 1em;
    }
.projectContainer {
    width: 40%;
    margin: 1em;
    border: 1px solid rgb(200,200, 200);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: black;
    @media screen and (max-width: 1190px) {
        width: 70%;
    }
        .project {
            .projectImage {
                border-bottom: 1px solid rgb(200,200, 200);
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                background-color: black;
            }
            #sr5RedProject1Image {
                @include custom-image(url('/img/sr5red3.jpeg'), 120%, center, no-repeat, 100%, 300px);
                @media (min-width: 1000px) {
                    background-size: 100%;
                    height: 400px;
                }
            }           
            #sr5RedProject2Image {
                @include custom-image(url('/img/sr5red21.png'), 120%, center, no-repeat, 100%, 300px);
                @media (min-width: 1000px) {
                    background-size: 100%;
                    height: 400px;
                }
            }
            #the4RunnerProject1Image {
                @include custom-image(url('/img/the4runner.jpg'), 120%, center, no-repeat, 100%, 300px);
                @media (min-width: 1000px) {
                    background-size: 100%;
                    height: 400px;
                }
            }
            #dlxYellowProject1Image {
                @include custom-image(url('/img/dlxyellow2.png'), 120%, center, no-repeat, 100%, 300px);
                @media (min-width: 1000px) {
                    background-size: 100%;
                    height: 400px;
                }
            }
            #sr5BlueProject1Image {
                @include custom-image(url('/img/sr5Blue2.jpg'), 120%, center, no-repeat, 100%, 300px);
                @media (min-width: 1000px) {
                    background-size: 100%;
                    height: 400px;
                }
            }
            .projectTitle {
                width: 100%;
                text-align: center;
                @include custom-image(url('/img/grid.png'), 100%, center, no-repeat, parent, parent);
            }
            .projectText {
                padding: .5em;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        
    }
}