$body-bg-color: lightgray;
$nav-bg-color: gray;
$services-color: black;
$line-color: rgb(200,200, 200);
$accent-line-color: black;

$main-font-family: 'Doppio One', sans-serif;
$accent-font-family: 'Josefin Slab', serif;
$accent-font-family: 'Noto Sans', sans-serif;
$p-font-family: 'Hind', sans-serif;

$nav-bg-image: '/img/sheet1.jpg';
$nav-list-bg-image: '/img/grid.png';

$index-bg-image: '/img/sheet1.jpg';
$container-height: 300px;
$container1-bg-image: '/img/welding3.jpeg';
$container2-bg-image: '/img/tube1.jpg';
$container3-bg-image: '/img/jeep5.jpg';

$about-bg-image: '/img/rust1.jpg';
$about-image: '/img/welding2.jpg';

$landing-bg-image: '/img/sheet2.jpg';
$landing-border-radius: 5px;

$projects-bg-image: '/img/rust2.jpg';

$contact-bg-image: '/img/rust1.jpg';

$footer-bg-image: '/img/sheet1.jpg';

$wjc1: '/img/wjc1.jpg';
$wjc2: '/img/wjc2.jpg';
$wjc3: '/img/wjc3.jpg';
$wjc4: '/img/wjc4.jpg';
$wjc5: '/img/wjc5.jpg';
$wjc6: '/img/wjc6.jpg';
$wjc7: '/img/wjc7.jpg';
$wjc8: '/img/wjc8.jpg';
$wjc9: '/img/wjc9.jpg';
$wjc10: '/img/wjc10.jpg';
$wjc11: '/img/wjc11.jpg';
$wjc12: '/img/wjc12.jpg';
$wjc13: '/img/wjc13.jpg';
$wjc14: '/img/wjc14.jpg';
$wjc15: '/img/wjc15.jpg';
$wjc16: '/img/wjc16.jpg';

$nav-li-spacer: 15px;
$opacity1: 80%;