$body-bg-color: lightgray;
$nav-bg-color: gray;
$services-color: black;
$line-color: rgb(200,200, 200);
$accent-line-color: black;

$main-font-family: 'Doppio One', sans-serif;
$accent-font-family: 'Josefin Slab', serif;
$accent-font-family: 'Noto Sans', sans-serif;
$p-font-family: 'Hind', sans-serif;

$nav-bg-image: '/img/sheet1.jpg';
$nav-list-bg-image: '/img/grid.png';

$index-bg-image: '/img/sheet1.jpg';
$container-height: 300px;
$container1-bg-image: '/img/welding3.jpeg';
$container2-bg-image: '/img/tube1.jpg';
$container3-bg-image: '/img/jeep5.jpg';

$about-bg-image: '/img/rust1.jpg';
$about-image: '/img/welding1.jpg';

$landing-bg-image: '/img/sheet2.jpg';
$landing-border-radius: 5px;

$projects-bg-image: '/img/rust2.jpg';

$contact-bg-image: '/img/sheet1.jpg';

$nav-li-spacer: 15px;
$opacity1: 80%;